body { 
    background-image: linear-gradient(
    #faf0e6 0%,  #ebe3df 10%,
    #e8cfc0 20%, #ceb6a4 30%,
    #efebce 40%, #ddbea9 50%, 
    #a5a58d 60%, #b7b7a4 70%, 
    #d6ce93 80%, #AEACB5 90%, #faf0e6 100% 
    );
    color: black;
    font-family: 'Courier New', Courier, monospace;
    max-width: 100%;
    max-height:100%;
    cursor: none;
}

/*Logo*/
.logoContainer {
    position: sticky;
    display: block;
    z-index: 10;
}
.logo {
    position: fixed;
    width: 10%;
    transition: all 1s;
    overflow: hidden; 
    top: 2vh;
}
@media screen and (min-width: 800px) {
    .logo {
        width: 80px;
    }
}
/*Top Note*/
.topNote {
    position: sticky;
    z-index: 11;
    display: block;
}
#note {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #fde073;
    text-align: center;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    font-size: 1em;
}

/*@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}
.cssanimations.csstransforms #note {
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}
.cssanimations.csstransforms #close {
    display: none;
}*/

/*Navigation Bar*/
.closeButton {
    background: transparent;
    color: rgb(127,127,127);
    border: none;
    font-size: 2em;
    margin-left: 5%;
    margin-top: 5px;
    transition: 0.5s;
    cursor: none;
}
.closeButton:hover {
    color: white;
}
.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
    text-align: left;
} 
.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    outline: none;
    clear: none;
}
.sideNav .title {
    color: rgb(127,127,127);
    margin-top: 10px;
}
.sideNav .dropdown-btn {
    font-size: 20px;
    transition: 0.5s;
    outline: none; 
    margin-top: -40px; 
    margin-left: 65%; 
    cursor: pointer;
    color: rgb(127,127,127)
}
.sideNav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
} 
.dropdown-container {
    display: none;
    background-color: #262626;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#imgSideText {
    margin-left: 60%;
}

/*Side Bar*/
.stickySideNav {
    max-width: 0;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 0;
    overflow-x: hidden;
    overflow:visible;
    transition: 0.5s;
    padding-top: 60px;
}
.stickySideNav a {
    position: sticky;
    padding: 2px 4px 2px 2px;
    text-decoration: none;
    font-size: 25px;
    color: transparent;
    display: block;
    transition: 0.5s;
    background-color: rgb(104, 104, 104);
}
.stickySideNav a:hover {
    cursor: none;
    color: black;
}
@media screen and (max-width:500px) {
    .stickySideNav a{
        pointer-events: none;
        background-color: transparent;
    }
}
#authorName {    
    position: fixed;
    background: #000;
    color: rgb(208, 208, 208);
    overflow: auto;
    height:20px;
    left: 0;
    z-index: 1;
    top: 5%;
    font-size: 20px;
    padding: 0;
}

/*About Page*/
.aboutPage {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.7s;
} 
.aboutPage button {
    float: left;
    left: 0;
    top: 3;
    position: absolute;
}
.aboutContainer {
    display: block;
    width: 90%;  
}
.aboutImg {
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 100px;
    z-index: 0;
}
.imgContainer {
    display: block; 
    position: relative;
}
.imgContainer p{
    width: 300px;
    z-index: 1;
    margin: auto;
    margin-top: -20px;
    color: white;
    font-size: 15%;
}
.aboutText {
    width: 400px;
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 100px;
    left: 0;
    right: 0;
    text-align: left;
    display: block;
    color: white;
    font-family:'Bradley Hand', 'cursive';
}
@media screen and (max-width:500px) {
    .aboutImg {
        width: 50vw;
    }
    .imgContainer p {
        width: 50vw;
        font-size: 2vw;
        margin-top: -4vw;
    }
    .aboutText {
        max-width: 80%;
        height: 10vw;
        font-size: 4vw;
        margin-top: 80px;
    }
}

/*Contact Page*/
.contactFormNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
    text-align: left;
} 
.contactTitle {
    text-align: center;
    font-size: 30px;
    color: #faf0e6;
}
.contactForm {
    display: block;
    width: 100%;
    height: 100%;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contactInput {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding-top: 30px;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    font-size: 20px;   
}
.contactMessage {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 80px;
    padding-bottom: 100px;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 20px; 
}
.contactSend {
    margin-left: 80%;
    border: solid 1px;
    background-color: #faf0e6;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    margin-top: -300px;
    cursor: pointer;
}
.contactSend:hover {
    transition: all 0.7s;
    margin-top: -220px;
}
.contactSend:not(:hover) {
    transition: all 1s;
}
#contact-form:valid .contactSend {
    background-color:rgb(187, 176, 112);
}  
@media screen and (max-width:500px) {
    .contactSend {
        position: relative;
        margin: auto;
        display: block;
        border-radius: 10px;
        width: 60%;
        height: 50px;
    }
    .contactSend:hover {
        margin-top: 0;
    }
    #contact-form:valid .contactSend {
        background-color:rgb(187, 176, 112);
    } 
}

/*Title*/
.titleContent {
    position:relative; 
    align-items: center;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.titleHeadline {
    opacity: 0;
    color: #DDE1E4;
    text-transform: uppercase;
}
.titleText {
    width: 80%;
    margin: auto;
    margin-top: 32vh;    
}
.content-section__headline-container {
    position: relative;
}
.content-section__headline-container span {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 5vw;
    margin: auto;
}
.scroll-indicator {
    position:relative;
    bottom: 0;
    top: 10vw;
    display: block;
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: auto;
}
.scroll-indicator__line {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 25px;
    background-color: #000;
    margin: auto;
}
.quote {
    display: table;
    margin: auto;
    margin-top: 10px;
    font-size: 30px;
    max-width: 80%;
    height: 100vh;
    font-family:'Bradley Hand', 'cursive';
    font-weight: 1px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    vertical-align: middle;
    margin: auto;

}
.quoteText {
    display: table-cell;
    vertical-align: middle;
}

/*Map*/
#mapSideText {    
    position: fixed;
    background: #000;
    color: rgb(208, 208, 208);
    overflow: auto;
    height: 35px;
    left: 0;
    z-index: 1;
    top: 5%;
    font-size:30px;
    padding: 0;
}
img.mapSize {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

/*Image*/
.container {
    display: block;
    padding-top: 20%;
}
.container img {
    margin-left: 2%;
    margin-bottom: 20%;
}
.container .exc_1 {
    margin-left: 30%;
}
.container .exc_2 {
    margin-left: 13%;
}

.container .exc_4 {
    margin-left: 20%;
}
.container .exc_5 {
    margin-left: 17%;
}
.container .exc_6 {
    margin-left: 2%;
}
.imageAlign {
    max-width: 100%;
    display: flex;
    align-items: flex-end;
}
.container .right {
    margin-left: 5%;
}

.container .left {
    margin-left: 2%;
}

img.horizontal {
    max-width: 96%; 
    width: 96%
}
img.standardHorizontal {
    max-width: 80%;
}
img.smallHorizontal {
    max-width: 70%;
}
.container img.vertical {
    max-width: 60%;
    margin-left: 10%;
}
img.sdSize {
    max-width: 47%;
}
img.closeSpace {
    margin-bottom: 5%;
}
img.threePieceSpace {
    margin-bottom: 2%;
}
img.rowRight {
    float: right;
    margin-right: 5%;
}
.container .rowLeft {
    margin-left: 5%;
}

/*TitleText Section*/
p.sideText {
    font-size: 5vw;
    margin-left: 3%;
    margin-bottom: -16vw;
}

p.sideTitle {
    font-size: 16vw;
    margin-bottom: 2vw;
    margin-left: 3%;
    line-height: 80%;
}

/*Figcaption*/
figcaption {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 1.5vw;
}
figcaption.sdSize {
    max-width: 20%;
    max-height: 20%;
}
figcaption.horizontalSize {
    max-width: 14%;
    max-height: 20%; 
    margin-top: 5%; 
    margin-left: 2%;
}

/*Top Button*/
#topButton {
    display: flex;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    bottom: 30px;
    text-align: center;
    margin: auto;
    border: solid 1px transparent;
    transition: all 1s;
    align-items: center; 
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
#topButton:hover {
    cursor: pointer;
    border: solid 1px;
}

/*Footer*/
footer {
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
}

